<%- include("header"); -%>
  <div class="box" id="heading">
    <h2> <%= listTitle %> </h2>
  </div>  

  <div class="box">

    <% for(let i=0; i<newTasks.length;i++) { %>
    <div class="item">
      <input type="checkbox">
      <p> <%= newTasks[i] %> </p>
      <form action="/" method="post">
        <!-- <input type="submit" name="submit" value=" "> -->
        <button type="submit" name="del" value="<%= flag %>"> <img src="../images/del.png" alt="delete" width="100%"> </button>
      </form>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="item" placeholder="Enter Task" autocomplete="off">
      <button type="submit" name="add" value="<%= flag %>">+</button>
    </form>

  </div>

  <script src="../js/test.js" charset="utf-8"></script>
<%- include("footer"); -%>
